
@{
    ViewBag.Title = "AttackEventEdit";
    Layout = "~/Views/Shared/_site.cshtml";
}

<u><h2>AttackEvent</h2></u>
<p>
    attack, assail, assault, bombard, storm mean to make an onslaught upon. 
    attack implies taking the initiative in a struggle. assail implies attempting to break down resistance by repeated blows or shots. assault suggests a direct attempt to overpower by suddenness and violence of onslaught.
   
</p>

