
@{
    ViewBag.Title = "AvengerEventEdit";
    Layout = "~/Views/Shared/_site.cshtml";
}
<u><h2>AvengerEvent</h2></u>
<p>
    Avenger (stylized as AVENGER) is an anime series, produced by Bandai Visual, Bee Train and Xebec, and directed by Koichi Mashimo.
    It is set on post-apocalyptic colonized Mars. The series premiered across Japan between 1 October 2003 and 24 December 2003 on the TV Tokyo network.
    It was later licensed for North American distribution by Bandai's distributive unit across the region, Bandai Entertainment.

</p>
    
