
@{
    ViewBag.Title = "blank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>blank</h2>
<a href="@Url.Action("myevents","Home")" class="btn btn-primary btn-lg">Myevents &raquo;</a>
<a href="@Url.Action("eventsinvited","Home")" class="btn btn-primary btn-lg">EventInvitation &raquo;</a>
<a href="@Url.Action("createevent","Home")" class="btn btn-primary btn-lg">CreateEvent &raquo;</a>
