
@{
    ViewBag.Title = "EventLink";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>EventLink</h2>
<p>
    with this link it is the event link for the book reading event
    <a href="https://www.bookReadingEventlink.com">www.bookreadingeventlink.com</a>
</p>

