
@{
    ViewBag.Title = "KotaSeriesEventEdit";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2><u>KotaSeriesEvent</u></h2>
<p>
    The story is set is in Kota, which is a hub for many coaching centres where students come from all over India to prepare for various entrance exams.
    The show follows the life of 16-year-old Vaibhav (Mayur More) who moves to Kota from Itarsi.
    It shows the life of students in the city, and Vaibhav's efforts to get into IIT.
</p>

