
@{
    ViewBag.Title = "MarvelSeriesEventEdit";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>
    <u>MarvelSeriesEvent</u></h2>
    <p>
        The Marvel Cinematic Universe (MCU) television series are American superhero television shows based on characters that appear in publications by Marvel Comics.
        They are set in, or inspired by, the shared universe of the MCU film franchise.
    </p>

