
@{
    ViewBag.Title = "PastEvents";
}
<div class="jumbotron">
    <h1>
        <u>PastEvents</u></h1>

        <p>
            Public or Anoynmous User can only see the Event and They Dont have a right to edit or modify the Event
            <br />
            For Edit and Modify Event you must have to login and signup on the website.
        </p>
        <ol>
            <li><h2><a href="@Url.Action("HarryPotterEventEdit","Home")" class="btn btn-primary btn-lg">Harry potter &raquo;</a></h2></li>
            <li><h2><a href="@Url.Action("MarvelSeriesEventEdit","Home")" class="btn btn-primary btn-lg">Marvel Series &raquo;</a></h2></li>
            <li><h2><a href="@Url.Action("AvengerEventEdit","Home")" class="btn btn-primary btn-lg">Avenger &raquo;</a></h2></li>
            <li><h2><a href="@Url.Action("KotaSeriesEventEdit","Home")" class="btn btn-primary btn-lg">Kota Series &raquo;</a></h2></li>
        </ol>

</div>
<address>
    <strong> Customer Help & Support :</strong> <a href="http://www.helpdesk@nagarro.com">helpdesk@nagarro.com</a>
</address>