
@{
    ViewBag.Title = "RDSharmaEventEdit";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2><u>RDSharmaEvent</u></h2>
<p>
    R.D. Sharma (Ravi Dutt Sharma) is a popular name when we talk about mathematics.
    He is not only a decorated mathematics teacher but a prominent author of many mathematics reference books that are used in many instances mainly in Central Board of Secondary Education.
    R.D. Sharma textbooks for mathematics today is a popular choice among students and others who prepare for competitive exams.
    The solutions provided in the book are of good quality, includes useful content that is accompanied with easy explanations and they also contain well graded solved examples as well as questions for practice.
</p>
